#title{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 30px;
    padding-bottom: 30px;
    width: 100vw;
    background-color: rgb(163, 209, 228);
}
body,html{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}
h3{
    margin: 0;
    padding: 0;
}
.carousel-item{
    padding: 10%;
    background-color: rgb(72, 127, 189);
}
#abstract{
    padding: 30px;
    padding-bottom: 30px;
}
#stages{
    padding: 30px;
    padding-bottom: 30px;
}
#end{
    padding: 10%;
    padding-bottom: 30px;
}
#box1{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: rgb(72, 127, 189);
}
#box2{
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(72, 127, 189);
}
h5{
    padding-top: 100px;
}